.bgApp{
    background-color: var(--p-zinc-500);
    padding: 10px 25px 10px 25px;
}

.navbar-brand{
    margin-left: 20px;
}

.navBarLinks {
    margin-left: 20px;
}

.modal-footer {
    margin-top: 20px;
}

.errormsg {
    color: red;
    font-size: 13px;
}

.header-sm {
    padding-top: 12px;
}

.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mainDiv {
    padding: 0 25px;
    border-radius: 10px;
    height: 92.3vh;
    background-color: var(--p-zinc-900);
}

.miniDiv {
    border-radius: 10px;
    height: 40vh;
    background-color: var(--p-zinc-900);
}

.title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--p-datatable-header-cell-color);
    margin-bottom: 20px;
}

.header {
    padding-top: 20px;
}

.actionsTopBar {
    text-align: right;
}

.row {
    margin: -2px 0;
}

form{
    .row {
        margin: 3px 0;
    } 
    label {
        padding-top: 9px;
    } 
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.pr-0{
    padding-right: 0 !important;
}

.pl-0{
    padding-left: 0 !important;
}

.miniDiv{
    margin-top: 10px;
}
